<h3 class="text-center mat-headline-2">Autó felvitel</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">                <!--form változóra hivatkozunk--> 
    <!-- appearance típusok: outline, fill-->
    <mat-form-field appearance="outline">
        <mat-label>Rendszám</mat-label>
        <input type="text" matInput formControlName="carLicencePlateNr" placeholder="A rendszám megadása kötelező!">
        <mat-error
            *ngIf="form.get('carLicencePlateNr')?.invalid && (form.get('carLicencePlateNr')?.dirty || form.get('carLicencePlateNr')?.touched)">
            <ng-container *ngIf="form.get('carLicencePlateNr')?.errors?.['required']">
                A rendszám megadása kötelező!!!
            </ng-container>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Gyártó</mat-label>
        <input type="text" matInput formControlName="carManufacturer" placeholder="Gyártó* min.3, max. 30 karakter">
        <mat-error
            *ngIf="form.get('carManufacturer)?.invalid && (form.get('carManufacturer')?.dirty || form.get('carManufacturer')?.touched)">
            <ng-container *ngIf="form.get('carManufacturer')?.errors?.['required']">
                A gyártónév kötelező mező!!!
            </ng-container>
            <ng-container *ngIf="form.get('carManufacturer')?.errors?.['minlength']">
                A gyártónév kötelezően min. 3 karakter!!!
            </ng-container>
            <ng-container *ngIf="form.get('carManufacturer')?.errors?.['maxlength']">
                A gyártónév max. 30 karakter!!!
            </ng-container>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Model</mat-label>
        <input matInput formControlName="carModel">
        <mat-hint>min. 2, maximum 20 karakter</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Kategória</mat-label>
        <mat-select formControlName="carCathegory">
            <mat-option *ngFor="let carCathegory of carCathegories" [value]="carCathegory.value">{{carCathegory.viewValue}}</mat-option>
        </mat-select>
        <mat-hint>Autó: személy vagy teher</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Fogyasztás</mat-label>
        <input matInput formControlName="carFuelConsumption">
        <mat-hint>min. 20, maximum 40 karakter</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Gyártási év</mat-label>
        <input matInput formControlName="carManufactureYear">
        <mat-hint>min. 1920, maximum 2023</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Értéke</mat-label>
        <input matInput formControlName="carValue">
        <mat-hint>min. 0, maximum 80.000.000Ft</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Futott km</mat-label>
        <input matInput formControlName="carMileage">
        <mat-hint>min. 0km</mat-hint>
    </mat-form-field>
    <br>
    <mat-checkbox formControlName="carCondition">Állapot</mat-checkbox>
    <br>
    <button mat-raised-button color="primary">Autó mentése</button>
</form>
<h3>Autó adatok - json formátumban (kétirányú adatkötés): </h3>
{{form.value | json}}  
<hr>
<h3>Autó adatok másként (Interpolation) - kétirányú adatkötés: </h3>
<p>Rendszáma: {{this.form.controls['carLicencePlateNr'].value}}</p>
<p>Gyártó: {{this.form.controls['carManufacturer'].value}}</p>
<p>Model: {{this.form.controls['carModel'].value}}</p>
<p>Kategória: {{this.form.controls['carCathegory'].value}}</p>
<p>Fogyasztás: {{this.form.controls['carFuelConsumption'].value}}</p>
<p>Gyártási éve: {{this.form.controls['carManufactureYear'].value}}</p>
<p>Értéke: {{this.form.controls['carValue'].value}}</p>
<p>Futott km: {{this.form.controls['carMileage'].value}}</p>
<p>Állapot: {{this.form.controls['carCondition'].value}}</p>
